div.light {
	color: #CCEEFF;
}

.highlight1 {
	background-color: #FFFF00;
	color: black;
}

a {
	text-decoration: none;
	color: #CCEEFF;
	color: white;
}

a:hover {
	color: yellow;
}

body {
	/*background-image: url("http://www.cs.mcgill.ca/~kye/Images/night1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	background-color: #003355;
	color: #CCEEFF;
}

p {
	color: #CCEEFF;
}

h1 {
	color: #CCEEFF;
	size: 80%;
}

h6 {
	color: #CCEEFF;
}

h4 {
	color: yellow;
}

table.menu {
	border-collapse: separate;
	border-spacing: 30px 0px;
	background-color: transparent;
}

table.input-boxes {
	width: 50%;
	table-layout: fixed;
	border-width: 0;
}

table.catalogue {
    width: 90%;
}

table.catalogue, th, td.catalogue {
    border: 3px solid black;
    border-collapse: collapse;
}

th, td.catalogue {
    padding: 15px;
}

th, td {
	color: #CCEEFF;
	text-align: center;
}

input[type="text"], input[type="password"] {
	background-color: transparent;
	color: #CCEEFF;
	width: 100%;
}

input[type="text"].num {
	width: 4em;
}

input[type="submit"] {
	background-color: #003355;
	color: #CCEEFF;
}

input[type="submit"].big {
	height: 3em;
	font-size: 100%;
}
